
.ui-dialog-titlebar-close {
    display: none;
}

.contacts-module-box-content, .contacts-module-box-content div {
    width: 100%;
    align-content: center;
    align-items: center;
    margin: 10px;
    height: auto;
}

.controls-bar {
    align-content: center;
    align-items: center;
}

.contacts-list {
    list-style: disc;
}