body {
              height: 100%;
              margin: 0;
              padding: 0;}
              #map {
                     flex-basis: 0;
                     flex-grow: 4;
                     height: 100%;
                   }
                   #sidebar {
                     flex-basis: 5rem;
                     flex-grow: 1;
                     padding: 1rem;
                     max-width: 30rem;
                     height: 100%;
                     box-sizing: border-box;
                     overflow: auto;
                   }
                   
                   #sidebar {
                     display: flex;
                     flex-direction: column;
                   }
                   ul {
                     list-style-type: none;
                     padding: 0;
                     margin: 0;
                     overflow-y: scroll;
                     flex-grow: 1;
                   }
                   
                   li {
                     background-color: #f1f1f1;
                     padding: 10px;
                     text-overflow: ellipsis;
                     white-space: nowrap;
                     overflow: hidden;
                     font-size: 1.25rem;
                     cursor: pointer;

                   
                   button {
                     width: 100%;
                     padding: 1rem;
                     flex-grow: 0;
                     cursor: pointer;
                     background: #1a73e8;
                     font-size: 1.5rem;
                     color: white;
                     border: none;
                   }
                   
                   button:hover {
                     color: #c5d4f0;
                   }
                   
                   button:disabled {
                     background-color: #9fc1ee;
                     color: #c5d4f0;
                     cursor: auto;
                   }