@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,500;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,400;1,700&family=Staatliches&display=swap');


body {
  font-size: $base__font-size;
  background: $grey; //change background image
  font-family: $font-family--primary;
}

h1 {
    font-size: 50px;
    font-stretch: ultra-expanded;
    text-align: center;
    font-style: italic;
}

.intro {
  font-size: em(20px);
  margin: em(5px) em(20px);
}

p.description {
  font-size: em(20px);
  margin: em(20px) 0;
}


.togglebutton {
  margin: em(8px) em(38px);
}

.list {
 background-color: ;
  padding: em(10px) em(25px);
  max-width: 80%;
  margin: em(30px) auto;
  border-radius: .3em;
  box-shadow: 5px 0 5px -5px black,
              -5px 0 5px -5px black; 
  
  @media(min-width: $medium-screen) {
    max-width: 60%;
  }
  
   @media(min-width: $large-screen) {
    max-width: 40%;
  }
}

button {
  @include button;
}

.togglebutton {
  font-size: em(11px);
  padding: em(15px) em(30px);
  text-transform: uppercase;
  border-radius: .3em;
}

ul {
  text-align: center;
  margin: em(10px) 0;
  
  li {
    font-size: em(20px);
    margin: em(5px) 0;
    padding: 10px 0;
    display: block;
  }
}

input {
  box-shadow: 0 5px 4px -4px black;
}