.columns h1 {
    padding: 15px;
    text-align: center;
}

.header h3 {
    text-align: center;
    background-color: #43719E;
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.modal a.close-modal {
    top: 6.5px;
    right: 6.5px;
}

.modal h1 {
    text-align: center;
    font-size: 25px;
    color: #43719E;
    margin-bottom: 10px;
    border-bottom: 2px solid #43719E;
}
.textarea {
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid #43719E;
}

.save-btn {
    background-color: #43719E;
    color: white;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    float: right;
}

.tasks-list {
    border: 1px solid #43719E;
    padding-bottom: 25px;
    min-height: 100px;
}

.task-list-item, .header {
    padding: 10px;
    margin: 10px;
}

.check-box {
    border-color: white;
}

.btn-check {
    margin-left: 15px;
    height: 50px;
    width: 50px;
    background-color: white;
    font-size: 25px;
    border: none;
    border: 2px solid #43719E;
    border-radius: 5px;
}

.check-no-color {
    color: white;
}

.check-color {
    color: green;
}

.task-box {
    border:2px solid white;
    border-radius: 10px;
    color: white;
    background-color: #43719E;

}

.task {
    padding: 10px 15px;
}